.header-container,
.header-left-side,
.header-right-side {
  display: flex;
  align-items: center;
}

.header-container {
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #efefef;
}

.header-right-side {
  padding-right: 15px;
}

.header-left-side p {
  margin-left: 15px;
  font-size: 20px;
}

.header-logo {
  width: 30px;
  padding: 20px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #efefef;
}

.header-menu-icon {
  display: none !important;
}

.header-patient-select {
  min-width: 25vw;
  max-width: 25vw;
}

@media (max-width: 768px) {
  .header-left-side img,
  .header-left-side p {
    display: none;
  }

  .header-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
  }

  .header-menu-icon {
    display: block !important;
  }

  .header-patient-select {
    min-width: 45vw;
    max-width: 45vw;
  }

  .header-profile-box {
    display: none;
    cursor: pointer;
  }
}
