.add-patient-container {
  margin: 20px;
  padding: 20px;
}

.add-patient-container h2 {
  margin-bottom: 20px;
}

.add-patient-container .MuiTextField-root,
.add-patient-container .MuiFormControl-root {
  margin-bottom: 20px;
}

.add-patient-container .MuiButton-root {
  margin-top: 10px;
}

.add-patient-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 10px;
  & .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .add-patient-form {
    display: flex;
    flex-direction: column;
  }
}
